
body {
  margin: 0;

.chart-test-1 {


  position: relative;
  width: 100%;

  &__canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  &__label {
    // position: absolute;
    padding: 0;
    margin-left: 37px;
    margin-right: 0;
    display: flex;
    list-style-type: none;
    li {
      width: calc(100% / 8);
      text-align: center;
    }
  }

  &__box {
    display: flex;
    margin-left: 46px;
    margin-top: -25px;
  }

  &__box-item{
    width: calc(12.5% - 10px);
    text-align: center;
padding: 0 5px;



  border-left: 1px solid #e5e5e5;


    div {


      height: 40px;
      color: #fff;
      margin-bottom: 5px;
  

      &:first-child {
        background-color: #0e7691;
      }

      &:not(:first-child) {
        background-color: #d4e4eb;
        color: #000;
      }

      &.active {
        background-color: #fb7751;

      }

      &:hover {
        background-color: #fb7751;
      }
    }
  }
}

}